.App {
  text-align: center;
}

.nav {
  display: flex;
  background-color: #eee;
}
.nav h4 {
  color: rgb(77, 77, 77);
  margin: 10px;
}

.list {
  text-align: left;
  padding-left: 30px;
  border-bottom: 3px solid lightgray;
}
.list h4 {
  cursor: pointer;
}
.list h4 span {
  cursor: pointer;
}

.modal {
  text-align: left;
  padding: 30px;
  background-color: #eee;
}