.table-container {
    width: 100vw;
}
.cart-table {
    border-top: 2px solid rgb(102, 102, 102);
    width: 100%;
    margin-top: 20px;
}
.cart-table-header {
    border-bottom: 3px solid rgb(112, 112, 112);
}