.col h4 {
    margin: 100px;
}

.discount-banner {
    width: 400px;
    padding: 20px;
    margin: 0 auto;
    background: #FFF3D3;
    transition: opacity 0.5s;
}

.tab-content {
    opacity: 0;
    transition: all 1s;
}

.fade {
    opacity: 1;
}